html, body {
    background-color:white;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.jumbotron{
    text-align: center;
    font-weight: bold;
    background-image: url(../images/amethyst.jpg) !important;
    color: white;
    margin-top: 0px;
    width: 100%;
    height: 200px;
    padding: 10px;
    letter-spacing: 3px;
    text-shadow: 5px 1px grey;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.display-4{
    font-size: 80px !important;
}

.instructions{
    color: darkgray !important;
    font-weight: bold;
    font-size: 40px
}

.directions{
    border-style: solid;
    border-color: grey;
    border-width: 1px;
    padding-bottom: 20px;
}

p{
    line-height: 1;
    background-color: white;
    width: 100%;
    color: darkgrey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin: auto;
    text-align: left;

}

.target-number{
    background-color: purple;
    color: white;
    padding-top: 10px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    height: 100px;
    border-style: solid;
    border-color: grey;
    font-family: Arial, Helvetica, sans-serif;
}

.total{
    border-style: dotted;
    border-color: purple;
    font-size: 15px;
    color: purple;
    text-align: center;
    width: 150px;
    height: 100px;
    font-family: Arial, Helvetica, sans-serif;
}

.estimating-number{
    font-size: 20px;
    color: gold;
}

.counter{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
